@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

p,
a,
li,
label,
div,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

button {
  font: inherit;
}

body,
#__next {
  background-color: #ffffff;
  height: 100vh;
  overflow-x: hidden;
}

.hero {
  background-image: url('https://res.cloudinary.com/walking-voice-limited/image/upload/q_auto/v1616748595/dantata/ayoola-salako-dantata_w8ye3b.webp');
  position: relative;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(22, 22, 22, 0.67);
}

.active {
  border-bottom: 4px solid #28245f;
}

.quote {
  background-image: url('https://res.cloudinary.com/walking-voice-limited/image/upload/q_auto/v1616432427/dantata/ayoola-salako_cdas56.webp');
  position: relative;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #324E09;
    background-blend-mode: multiply; */
}

.quote::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(22, 22, 22, 0.67);
}
